.product-display-section{
  display: grid;
  gap: 20px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
}
.product-card{
  background-color: rgb(240, 222, 222);
  display: flex;
  flex-direction: row;
  height: 165px;
  padding: 10px;
}
.book-image{
  width: 100px;
  object-fit: cover;
}

.books-info{
  padding-left: 10px;
}